@import "mixins/mixins";
@import "common/var";

@include b(empty) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: $--empty-padding;

  @include e(image) {
    width: $--empty-image-width;

    img {
      user-select: none;
      width: 100%;
      height: 100%;
      vertical-align: top;
      object-fit: contain;
    }

    svg {
      fill: $--svg-monochrome-grey;
      width: 100%;
      height: 100%;
      vertical-align: top;

      #Rectangle-Copy-10 {
        fill: $--empty-fill-color-7;
      }

      #Rectangle-Copy-11 {
        fill: $--empty-fill-color-5;
      }

      // #Rectangle-Copy-12
      linearGradient[id^=linearGradient-1] {
        stop:first-child {
          stop-color: $--empty-fill-color-1;
        }

        stop:last-child {
          stop-color: $--empty-fill-color-4;
        }
      }

      #Rectangle-Copy-13 {
        fill: $--empty-fill-color-2;
      }

      #Rectangle-Copy-14 {
        fill: $--empty-fill-color-7;
      }

      // #Rectangle-Copy-15
      linearGradient[id^=linearGradient-2] {
        stop:first-child {
          stop-color: $--empty-fill-color-1;
        }

        stop:last-child {
          stop-color: $--empty-fill-color-6;
        }
      }

      #Rectangle-Copy-18 {
        fill: $--empty-fill-color-2;
      }

      #Rectangle-Copy {
        fill: $--empty-fill-color-9;
      }

      #Mask {
        fill: $--empty-fill-color-8;
      }

      #Oval-Copy-2 {
        fill: $--empty-fill-color-3;
      }
    }
  }

  @include e(description) {
    margin-top: $--empty-description-margin-top;

    p {
      margin: 0;
      font-size: $--font-size-base;
      color: $--color-text-secondary;
    }
  }

  @include e(bottom) {
    margin-top: $--empty-bottom-margin-top;
  }
}